<template>
  <v-app>
    <v-navigation-drawer
      app
      right
      temporary
      v-model="drawer">
      <v-list>
        <v-list-tile
          v-for="link of links"
          :key="link.title"
          :to="link.url"
          @click="">
          <v-list-tile-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="link.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          v-if="isUserLoggedIn"
          @click="onLogout">
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="'Logout'"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app dark right=true color="primary">
        <v-toolbar-title>
          <router-link to="/" tag="span">Ad application</router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
      <v-toolbar-side-icon class="hidden-md-and-up" @click="drawer =! drawer">
      </v-toolbar-side-icon>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          v-for="link of links"
          :key="link.title"
          :to="link.url"
          flat>
          <v-icon left>{{link.icon}}</v-icon>
          {{link.title}}
        </v-btn>
        <v-btn
          @click="onLogout"
          flat
          v-if="isUserLoggedIn"
        >
          <v-icon left>exit_to_app</v-icon>
          Logout
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content>
      <router-view></router-view>
    </v-content>

    <template v-if="error">
      <v-snackbar
        :multi-line="true"
        color="red"
        :right="true"
        :timeout="6000"
        :value="true"
        @input="closeError"
      >
        {{ error }}
        <v-btn
          dark
          flat
          @click="closeError"
        >
          Close
        </v-btn>
      </v-snackbar>
    </template>

  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        drawer: false
      }
    },
    computed: {
      error () {
        return this.$store.getters.error
      },
      isUserLoggedIn () {
        return this.$store.getters.isUserLoggedIn
      },
      links () {
        if (this.isUserLoggedIn) {
          return [
            {'title': 'Home', 'icon': 'home', 'url': '/'},
            {'title': 'Orders', 'icon': 'bookmarks', 'url': '/orders'},
            {'title': 'New ad', 'icon': 'add', 'url': '/new'},
            {'title': 'My ads', 'icon': 'list', 'url': '/list'}
          ]
        }
        return [
          {'title': 'Home', 'icon': 'home', 'url': '/'},
          {'title': 'Sign in', 'icon': 'lock', 'url': '/login'},
          {'title': 'Sign up', 'icon': 'face', 'url': '/registration'}
        ]
      }
    },
    methods: {
      closeError () {
        this.$store.dispatch('clearError')
      },
      onLogout () {
        this.$store.dispatch('logoutUser')
        this.$router.push('/')
      }
    }
  }
</script>
