<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md6>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Registration</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                prepend-icon="email" name="email" label="Email" type="email"
                v-model="email" :rules="emailRules" required
              ></v-text-field>
              <v-text-field
                prepend-icon="lock" name="password" label="Password" type="password"
                v-model="password" :rules="passRules" :counter=8 required
              ></v-text-field>
              <v-text-field
                prepend-icon="lock" name="confirm-password" label="Confirm Password" type="password"
                v-model="confirmPassword" :rules="conPassRules" :counter=8 required
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              @click="onSubmit"
              :loading="loading"
              :disabled="!valid || loading"
            >Create account</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        email: '',
        password: '',
        confirmPassword: '',
        valid: false,
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
        passRules: [
          v => !!v || 'Password is required',
          v => (v && v.length >= 8) || 'Password must have 8 characters'
        ],
        conPassRules: [
          v => !!v || 'Password is required',
          v => (v && v === this.password) || 'Password not equel'
        ]
      }
    },
    computed: {
      loading () {
        return this.$store.getters.loading
      }
    },
    methods: {
      onSubmit () {
        if (this.$refs.form.validate()) {
          const user = {
            email: this.email,
            password: this.password,
            confirmPassword: this.confirmPassword
          }
          this.$store.dispatch('registerUser', user)
            .then(() => {
              this.$router.push('/')
            })
            .catch(err => console.log(err))
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>
